*application.properties
.idea/
.metadata/
*.iml
sandbox/
/target/
.settings
.classpath
.project
/nb-configuration.xml
/nbactions*.xml
*~
.DS_Store
apache-tomcat-9.0.16/
apache-tomcat-9.0.16-remote/
target-central/
target-remote/