*application.properties
sandbox/
/target/
.settings
.classpath
.project
/nb-configuration.xml
/nbactions.xml
/nbactions-webapi-local.xml
/nbactions-webapi-mssql.xml
/nbactions-webapi-postgresql.xml
/nbactions-webapi-oracle.xml
/nbactions-debug*
*~