Makefile
WebAPIConfig/
*application.properties
.idea/
.metadata/
*.iml
sandbox/
/target/
.settings
.classpath
.project
/nb-configuration.xml
/nbactions*.xml
*~
.DS_Store
.factorypath

### Developer's personal properties ###
**/resources/config/application*-dev-*.properties
**/resources/config/application*-dev-*.yaml
**/resources/config/application*-dev-*.yml
/.vscode
/.run
