<settings>
    <profiles>
        <profile>
            <id>webapi-postgresql</id>
            <properties>
                <datasource.driverClassName>org.postgresql.Driver</datasource.driverClassName>
                <datasource.username>ohdsi_app_user</datasource.username>
                <datasource.dialect>postgresql</datasource.dialect>
                <datasource.ohdsi.schema>webapi</datasource.ohdsi.schema>
                <honeur.enabled>true</honeur.enabled>
                <flyway.datasource.driverClassName>${datasource.driverClassName}</flyway.datasource.driverClassName>
                <flyway.datasource.url>${datasource.url}</flyway.datasource.url>
                <flyway.datasource.username>ohdsi_admin_user</flyway.datasource.username>
                <flyway.locations>classpath:db/migration/postgresql,classpath:db/extension/honeur</flyway.locations>
                <security.provider>AtlasCustomSecurity</security.provider>
                <security.cas.loginUrl>https://localhost:8443/cas/login</security.cas.loginUrl>
                <security.cas.callbackUrl>https://localhost:8444/webapi/user/cas/callback?client_name=CasClient</security.cas.callbackUrl>
                <security.cas.serverUrl>https://localhost:8443/cas</security.cas.serverUrl>
                <security.cas.casticket>ticket</security.cas.casticket>
                <security.cas.cassvcs></security.cas.cassvcs>
                <!--<security.cas>true</security.cas>-->
                <!--<security.token.expiration>1200</security.token.expiration>-->
                <security.origin>*</security.origin>
                <security.oauth.google.apiKey></security.oauth.google.apiKey>
                <security.oauth.google.apiSecret></security.oauth.google.apiSecret>
                <security.oauth.facebook.apiKey></security.oauth.facebook.apiKey>
                <security.oauth.facebook.apiSecret></security.oauth.facebook.apiSecret>
                <jersey.resources.additional.packages>com.jnj.honeur.webapi</jersey.resources.additional.packages>
            </properties>
        </profile>
        <profile>
            <id>aws</id>
            <properties>
                <datasource.password>${OHDSI_APP_USER}</datasource.password>
                <flyway.datasource.password>${OHDSI_ADMIN_USER}</flyway.datasource.password>
                <datasource.url>${OHDSI_DATASOURCE_URL}</datasource.url>
                <liferay.url>${LIFERAY_SERVER_BASE_URL}</liferay.url>
                <liferay.user>${WEBAPI_LIFERAY_USER}</liferay.user>
                <liferay.password>${WEBAPI_LIFERAY_PASSWORD}</liferay.password>
                <hss.url>${STORAGE_SERVER_BASE_URL}/api</hss.url>
                <security.cas.login.url>${CAS_SERVER_LOGIN_URL}</security.cas.login.url>
                <security.oauth.callback.ui>${ATLAS_WELCOME_URL}</security.oauth.callback.ui>
                <security.oauth.callback.api>${ATLAS_WEBAPI_CALLBACK_URL}</security.oauth.callback.api>
                <security.ssl.enabled>false</security.ssl.enabled> <!-- !!! Enabling this property doesn't work on AWS.  Not a real problem as SSL is already enforced on AWS !!! -->
                <war.directory>target</war.directory>
                <central>true</central>
                <security.cas.tgc.domain>.honeur.org</security.cas.tgc.domain>
                <liferay.company.web.id>liferay.com</liferay.company.web.id>
            </properties>
        </profile>
        <profile>
            <id>integration-test</id>
            <properties>
                <datasource.password>${OHDSI_APP_USER}</datasource.password>
                <flyway.datasource.password>${OHDSI_ADMIN_USER}</flyway.datasource.password>
                <datasource.ohdsi.schema>webapi_remote</datasource.ohdsi.schema>
                <datasource.url>${OHDSI_DATASOURCE_URL}</datasource.url>
                <liferay.url>${LIFERAY_SERVER_BASE_URL}</liferay.url>
                <liferay.user>${WEBAPI_LIFERAY_USER}</liferay.user>
                <liferay.password>${WEBAPI_LIFERAY_PASSWORD}</liferay.password>
                <hss.url>${STORAGE_SERVER_BASE_URL}/api</hss.url>
                <security.enabled>false</security.enabled>
                <security.cas.login.url>${CAS_SERVER_LOGIN_URL}</security.cas.login.url>
                <security.oauth.callback.ui>${ATLAS_WELCOME_URL}</security.oauth.callback.ui>
                <security.oauth.callback.api>${ATLAS_WEBAPI_CALLBACK_URL}</security.oauth.callback.api>
                <security.ssl.enabled>false</security.ssl.enabled> <!-- !!! Enabling this property doesn't work on AWS.  Not a real problem as SSL is already enforced on AWS !!! -->
                <war.directory>target</war.directory>
                <central>false</central>
                <security.cas.tgc.domain>.honeur.org</security.cas.tgc.domain>
                <liferay.company.web.id>liferay.com</liferay.company.web.id>
            </properties>
        </profile>
        <profile>
            <id>local-dev</id>
            <properties>
                <server.port>${honeur.port}</server.port>
                <datasource.password>app1</datasource.password>
                <flyway.datasource.password>admin1</flyway.datasource.password>
                <datasource.url>jdbc:postgresql://localhost:5432/${datasource.db}</datasource.url>
                <liferay.url>https://localhost:8443</liferay.url>
                <liferay.user>test@liferay.com</liferay.user>
                <liferay.password>test</liferay.password>
                <hss.url>https://dev.honeur.org/storage/api</hss.url>
                <security.cas.login.url>https://localhost:8443/cas/login</security.cas.login.url>
                <security.oauth.callback.ui>https://localhost:${server.port}/atlas/#/welcome</security.oauth.callback.ui>
                <security.oauth.callback.api>https://localhost:${server.port}/webapi/user/oauth/callback</security.oauth.callback.api>
                <security.ssl.enabled>true</security.ssl.enabled>
                <security.cas.tgc.domain>localhost</security.cas.tgc.domain>
                <liferay.company.web.id>liferay.com</liferay.company.web.id>
            </properties>
        </profile>
        <profile>
            <id>honeur-central</id>
            <properties>
                <central>true</central>
                <war.directory>target</war.directory>
                <datasource.db>OHDSI</datasource.db>
                <honeur.port>8444</honeur.port>
            </properties>
        </profile>
        <profile>
            <id>honeur-local</id>
            <properties>
                <security.enabled>false</security.enabled>
                <central>false</central>
                <war.directory>target-local</war.directory>
                <datasource.db>OHDSI-local</datasource.db>
                <honeur.port>8844</honeur.port>
            </properties>
        </profile>

        <profile>
            <id>honeur-test</id>
            <properties>
                <user.properties>${properties.folder}/custom.properties</user.properties>
                <properties.folder>${project.basedir}/src/test/resources/jmeter/local</properties.folder>
            </properties>
        </profile>
        <profile>
            <id>honeur-test-dev</id>
            <properties>
                <user.properties>${properties.folder}/custom.properties</user.properties>
                <properties.folder>${project.basedir}/src/test/resources/jmeter/dev</properties.folder>
            </properties>
        </profile>
        <profile>
            <id>agunva</id>
            <properties>
                <datasource.driverClassName>org.postgresql.Driver</datasource.driverClassName>
                <datasource.url>jdbc:postgresql://localhost:5432/honeur</datasource.url>
                <datasource.username>postgres</datasource.username>
                <datasource.password>ec2Admin</datasource.password>
                <datasource.dialect>postgresql</datasource.dialect>
                <datasource.ohdsi.schema>webapi</datasource.ohdsi.schema>
                <hibernate.dialect>org.hibernate.dialect.PostgreSQL9Dialect</hibernate.dialect>
                <honeur.enabled>true</honeur.enabled>
                <hss.url>https://storage-uat.honeur.org/api</hss.url>
                <liferay.company.web.id>liferay.com</liferay.company.web.id>
                <security.cas.tgc.domain>.honeur.org</security.cas.tgc.domain>
                <flyway.datasource.driverClassName>${datasource.driverClassName}</flyway.datasource.driverClassName>
                <flyway.datasource.url>${datasource.url}</flyway.datasource.url>
                <flyway.datasource.username>postgres</flyway.datasource.username>
                <flyway.datasource.password>ec2Admin</flyway.datasource.password>
                <flyway.locations>classpath:db/migration/postgresql,classpath:db/extension/honeur</flyway.locations>
                <security.enabled>false</security.enabled>
                <security.cas>false</security.cas>
                <security.cas.login.url>https://cas-uat.honeur.org/login</security.cas.login.url>
                <security.token.expiration>43200</security.token.expiration>
                <security.origin>*</security.origin>
                <security.ssl.enabled>false</security.ssl.enabled>
                <security.oauth.callback.ui>http://awsagunva1008.jnj.com/Atlas/#/welcome</security.oauth.callback.ui>
                <security.oauth.callback.api>http://awsagunva1008.jnj.com:8080/WebAPI/user/oauth/callback</security.oauth.callback.api>
                <security.oauth.google.apiKey></security.oauth.google.apiKey>
                <security.oauth.google.apiSecret></security.oauth.google.apiSecret>
                <security.oauth.facebook.apiKey></security.oauth.facebook.apiKey>
                <security.oauth.facebook.apiSecret></security.oauth.facebook.apiSecret>
                <central>false</central>
                <jersey.resources.additional.packages>com.jnj.honeur.webapi</jersey.resources.additional.packages>
                <war.directory>target-agunva</war.directory>
            </properties>
        </profile>
    </profiles>
</settings>