<settings>
    <profiles>
        <profile>
            <id>webapi-postgresql</id>
            <properties>
                <datasource.driverClassName>org.postgresql.Driver</datasource.driverClassName>
                <datasource.username>ohdsi_app_user</datasource.username>
                <datasource.dialect>postgresql</datasource.dialect>
                <datasource.ohdsi.schema>webapi</datasource.ohdsi.schema>
                <datasource.honeur.enabled>true</datasource.honeur.enabled>
                <flyway.datasource.driverClassName>${datasource.driverClassName}</flyway.datasource.driverClassName>
                <flyway.datasource.url>${datasource.url}</flyway.datasource.url>
                <flyway.datasource.username>ohdsi_admin_user</flyway.datasource.username>
                <flyway.locations>classpath:db/migration/postgresql,classpath:db/extension/honeur</flyway.locations>
                <security.enabled>true</security.enabled>
                <security.cas>true</security.cas>
                <security.token.expiration>43200</security.token.expiration>
                <security.origin>*</security.origin>
                <security.oauth.google.apiKey></security.oauth.google.apiKey>
                <security.oauth.google.apiSecret></security.oauth.google.apiSecret>
                <security.oauth.facebook.apiKey></security.oauth.facebook.apiKey>
                <security.oauth.facebook.apiSecret></security.oauth.facebook.apiSecret>
                <jersey.resources.additional.packages>com.jnj.honeur.webapi</jersey.resources.additional.packages>
            </properties>
            <dependencies>
            </dependencies>
        </profile>
        <profile>
            <id>amazon-dev</id>
            <properties>
                <datasource.password>${OHDSI_APP_USER}</datasource.password>
                <flyway.datasource.password>${OHDSI_ADMIN_USER}</flyway.datasource.password>
                <datasource.url>${OHDSI_DATASOURCE_URL}</datasource.url>
                <datasource.liferay.url>${LIFERAY_SERVER_BASE_URL}</datasource.liferay.url>
                <datasource.liferay.user>${WEBAPI_LIFERAY_USER}</datasource.liferay.user>
                <datasource.liferay.password>${WEBAPI_LIFERAY_PASSWORD}</datasource.liferay.password>
                <datasource.hss.url>${STORAGE_SERVER_BASE_URL}/storage</datasource.hss.url>
                <security.cas.login.url>${CAS_SERVER_LOGIN_URL}</security.cas.login.url>
                <security.oauth.callback.ui>${ATLAS_WELCOME_URL}</security.oauth.callback.ui>
                <security.oauth.callback.api>${ATLAS_WEBAPI_CALLBACK_URL}</security.oauth.callback.api>
                <security.ssl.enabled>true</security.ssl.enabled>
                <war.directory>target</war.directory>
            </properties>
        </profile>
        <profile>
            <id>local-dev</id>
            <properties>
                <server.port>${honeur.port}</server.port>
                <datasource.password>app1</datasource.password>
                <flyway.datasource.password>admin1</flyway.datasource.password>
                <datasource.url>jdbc:postgresql://localhost:5432/${datasource.db}</datasource.url>
                <datasource.liferay.url>http://localhost:8080</datasource.liferay.url>
                <datasource.liferay.user>sander.bylemans@continuum.be</datasource.liferay.user>
                <datasource.liferay.password>test</datasource.liferay.password>
                <datasource.hss.url>https://localhost:8445</datasource.hss.url>
                <security.cas.login.url>https://localhost:8443/cas/login</security.cas.login.url>
                <security.oauth.callback.ui>https://localhost:${server.port}/atlas/#/welcome</security.oauth.callback.ui>
                <security.oauth.callback.api>https://localhost:${server.port}/WebAPI/user/oauth/callback</security.oauth.callback.api>
                <security.ssl.enabled>true</security.ssl.enabled>
            </properties>
        </profile>
        <profile>
            <id>honeur-central</id>
            <properties>
                <remote>false</remote>
                <war.directory>target</war.directory>
                <datasource.db>OHDSI</datasource.db>
                <honeur.port>8444</honeur.port>
            </properties>
        </profile>
        <profile>
            <id>honeur-local</id>
            <properties>
                <remote>true</remote>
                <war.directory>target-local</war.directory>
                <datasource.db>OHDSI-local</datasource.db>
                <honeur.port>8844</honeur.port>
            </properties>
        </profile>
    </profiles>
</settings>