<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.ConsoleAppender" name="stdout">
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d{yyyy-MM-dd HH:mm:ss.SSS} %p %t %c - %x - %m%n"
                   name="ConversionPattern" />
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false" />
        <param name="maxFileSize" value="50MB" />
        <param name="maxBackupIndex" value="10" />
        <param name="file" value="${catalina.home}/logs/webapi.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <logger name="org.ohdsi">
        <level value="info" />
    </logger>
    <logger name="org.springframework.orm">
        <level value="warn" />
    </logger>
    <logger name="org.springframework.jdbc">
        <level value="warn" />
    </logger>
    <logger name="org.hibernate">
        <level value="warn" />
    </logger>
    <logger name="org.hibernate.SQL">
        <level value="debug" />
    </logger>
    <logger name="com.jnj.honeur">
        <level value="info" />
    </logger>

    <root>
        <level value="info" />
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </root>
</log4j:configuration>