<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>database.driver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <context-param>
        <param-name>database.url</param-name>
        <!-- example for Microsoft SQL Server -->
        <param-value>jdbc:sqlserver://serverName;user=userName;password=password;</param-value> 
    </context-param>
    <context-param>
        <param-name>database.dialect</param-name>
        <param-value>sql server</param-value>
    </context-param>    
    <context-param>
        <param-name>database.cdm.schema</param-name>
        <param-value>[CDM_DATABASE].dbo</param-value>
    </context-param>    
    <context-param>
        <param-name>database.results.schema</param-name>
        <param-value>[CDM_DATABASE_RESULTS].dbo</param-value>
    </context-param>    
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>org.ohdsi.webapi</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
